html, body {
    margin: 0pt;
    padding: 20pt;
    background-color: #000;
    font-family: 'Courier';
    color: #FFF;
    font-size: 1.25px;
    zoom: 2.5;
    letter-spacing: 0.25px
}

